
html
    head
        link(rel="stylesheet", href="css/style.min.css")
    body
    include html/header 
    main.page 
        h1 life is beatiful
        img(src="@img/i.jpg")
    include html/footer 
    script(src="js/app.min.js") 